* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --background-color: rgb(187, 202, 226);
    --white-color: rgba(255, 255, 255, 0.95);
    --background-grey: rgb(129, 134, 140, 0.4);
    --note-background: rgb(129, 134, 140, 0.7);

}
body {
  background: linear-gradient(to right, var(--background-color), var(--white-color));

}

.container {
  margin: 0 auto;
  padding: 24px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.panel {
  background: var(--background-grey);
  backdrop-filter: blur(10px);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}


.note {
  background: var(--note-background);
  color: var(--white-color);
}

@media (max-width: 512px) {
  .container {
    padding: 24px;
  }
}


@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
}
