@media (max-width: 512px) {
  .container {
    padding: 24px;
  }
}


@media (max-width: 1024px) {
  .container {
    grid-template-columns: 2fr;
  }

  .add-note-date {
    height: 24px;
    width: 24px;
    font-size: 8px;
  }

  .notes-list{
    gap: 8px;
    max-height: 200;
    justify-content: center;
  }

}

